---
import type { DownloadCVProps } from "@types";
type Props = DownloadCVProps;

const { filePath } = Astro.props;
---

<section class="py-24 md:py-32" id="#downloadCV">
  
  <a
    class="inline-block rounded-full bg-primary px-8 py-5 text-sm centre font-medium text-[#fff]"
    href={`mailto:${""}`}>Download my CV</a
  >
</section>
